* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif; */
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(-45deg, rgb(133 0 99) 15%, rgb(144 25 25) 75%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerBox {
    position: absolute;
    left: 42%;
    /* top: 8%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 93%;
}
.rollHoldBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.mainArea {
    width: 60%;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    position: relative;
}

.gamearea {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#player1Area {
    background-color: #d6a2ae;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

#player2Area {
    background-color: #b56c80;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.resultNum {
    color: rgb(144 25 25);
    font-size: 5rem;
}

.scoreBox {
    width: 47%;
    border-radius: 14px;
    height: 77px;
    background-color: #b40637;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.score {
    font-size: 2rem;
}

.featureButtons {
    text-align: center;
    padding: 2px 11px;

    background-color: #ffffffc9;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    cursor: pointer;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 2px;
}

.image {
    position: relative;
    /* left: 43.5%; */
    /* top: 25%; */
    height: 100px;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 99;
}

.image img {
    height: 100%;
    width: 100%;
}

#winner {
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    display: none;
}